h2 {
  text-align: center;
}

.area {
  width: 200px;
  height: 100px;
  border: solid;
  margin: auto;
}

.background-area {
  width: 300px;
  height: 200px;
  background-color: black;
  align-items: center;
  display: flex;
}

#rgb-output-color {
  background-color: rgb(100, 150, 200);
}

.parameter-area {
  display: inline-block;
  margin: 0px 12px;
}